/* src/components/TotalSummary/TotalSummary.css */
.total-summary {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.total-summary h3 {
    color: #fff;
    background-color: #28a745;
    border-radius: 50px;
    padding-inline: 10px;
    margin: 0 0 8px;
    font-size: 1.5em;
}

.total-summary p {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}
.total-summary .total-value {
  color: #28a745;
}
.total-summary .total-value {
  font-size: 1.2em;
  font-weight: bold;
  color: #28a745;
}